.faqpage .background{
    background: linear-gradient(104.24deg, #000066 22.75%, #0D6EFD 168.68%);

}

.faqpage .navbar {
     background-color: transparent;
    color: #fff;
}

.faqpage .navbar li a{
    color: #fff;
}


.faqpage .dropdown .dropdown-toggle{
    color: #fff;
}


.admin button{
    color: #fff;
}

.admin a{
    color: #000!important;
}

.faqimage{
    width: 6rem;
    position: absolute;
    top: 0;
    right: 25%;
}

@media screen and (max-width: 430px) {
    .faqimage {
        width: 2rem;
        right: 27%;
    }
}
